{% extends 'base.html' %}
{% block content %}

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <caption class="text-center fw-bold">Sales Records</caption>
    <thead class="table-primary">
      <tr>
        <th>Product Sold</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Receipt Number</th>
        <th>Payment Method</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if sales %}
      {% for sale in sales %}
      <tr>
        <td>{{ sale.product_sold }}</td>
        <td>{{ sale.date }}</td>
        <td>{{ sale.quantity_sold }}</td>
        <td>{{ sale.receipt_number }}</td>
        <td>{{ sale.payment_method }}</td>
        <td>
          <a href="{% url 'sales_edit' sale.id %}"><i class="bi bi-pencil"></i></a>
          <a href="{% url 'sales_delete' sale.id %}"><i class="bi bi-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="6" class="text-center text-muted"> sales records.</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>

{% endblock %}