<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome Page</title>
  <style>
     body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(to right, #BBDEFB, #64B5F6);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      cursor: pointer; 
    }
    .card {
      background: #BBDEFB;
      color: #333;
      padding: 80px 20px;
      border-radius: 20px;
      box-shadow: 0 20px 40px rgba(0,0,0,0.6); 
      text-align: center;
    }
    .card h1 {
      margin: 0;
    }
    
  </style>
</head>
<body  onclick="window.location.href='login.html'">
  <div class="card">
    <h1>WELCOME TO  
        <br> 
        NYONDO GENERAL HARDWARE </h1>
  </div>
</body>
</html>



